/* ==========================================================================
   Typography
   ========================================================================== */

$doc-font-size              : 16;

/* Use your fonts */
$global-font-family         : "Crimson Pro", serif;
$header-font-family         : "Crimson Pro", serif;
$caption-font-family        : "Crimson Pro", serif;
$monospace                  : "Ubuntu Mono", monospace;

/* type scale (unchanged) */
$type-size-1                : 2.441em;
$type-size-2                : 1.953em;
$type-size-3                : 1.563em;
$type-size-4                : 1.25em;
$type-size-5                : 1em;
$type-size-6                : 0.75em;
$type-size-7                : 0.6875em;
$type-size-8                : 0.625em;

/* Your body sizing + weights */
$base-font-size: 18px;
$h1-font-size: 24px;
$h2-font-size: 22px;
$h3-font-size: 20px;
$base-line-height: 1.3;
$publication-line-height: 1.1;
$text-font-weight: 400;
$heading-font-weight: 500;

/*
   Colors
   ========================================================================== */

/* Your palette inserted here */
$primary-color        : #13294B;
$secondary-color      : #39c;
$text-color           : #595959;
$text-color-dark      : #dadbdf;
$link-color           : #39c;
$link-color-hover     : #069;
$border-color         : #eee;
$dark-bg              : #20212b;
$badge-color          : #39c;
$highlight-color      : #d73a49;

/* Backgrounds */
$body-color           : #fff;
$background-color     : #fff;
$code-background-color      : #fafafa;
$code-background-color-dark : lighten(#13294B, 25%);

/* System brand colors remain unchanged */

/*
   Breakpoints
   ========================================================================== */

@include breakpoint-set("to ems", true);

$small                : 600px !default;
$medium               : 768px !default;
$medium-wide          : 900px !default;
$large                : 925px !default;
$x-large              : 1280px !default;

/* Your breakpoints */
$breakpoint-tablet: 960px;
$breakpoint-mobile: 480px;

/*
   Layout
   ========================================================================== */

$header-width: 270px;
$content-width: 650px;
$wrapper-width: 960px;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow : 0px;
$right-sidebar-width        : 0px;
$right-sidebar-width-wide   : 0px;

/*
   Spacing
   ========================================================================== */

$spacing-unit: 1rem;
$section-spacing: 2rem;
$header-padding: 4em;

/*
   Other
   ========================================================================== */

$border-radius       : 4px;
$box-shadow          : 0 1px 1px rgba(0, 0, 0, 0.125);
$navicon-width       : 28px;
$navicon-height      : 4px;
$global-transition   : all 0.2s ease-in-out;
