/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size              : 16;

/* paragraph indention */
$paragraph-indent           : false; // true, false (default)
$indent-var                 : 1.3em;

/* system typefaces */
$serif                      : Georgia, Times, serif;
$sans-serif                 : -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace                  : Monaco, Consolas, "Lucida Console", monospace;

/* sans serif typefaces */
$sans-serif-narrow          : $sans-serif;
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif;

/* serif typefaces */
$georgia                    : Georgia, serif;
$times                      : Times, serif;
$bodoni                     : "Bodoni MT", serif;
$calisto                    : "Calisto MT", serif;
$garamond                   : Garamond, serif;

$global-font-family         : $sans-serif;
$header-font-family         : $sans-serif;
$caption-font-family        : $serif;

/* type scale */
$type-size-1                : 2.441em;  // ~39.056px
$type-size-2                : 1.953em;  // ~31.248px
$type-size-3                : 1.563em;  // ~25.008px
$type-size-4                : 1.25em;   // ~20px
$type-size-5                : 1em;      // ~16px
$type-size-6                : 0.75em;   // ~12px
$type-size-7                : 0.6875em; // ~11px
$type-size-8                : 0.625em;  // ~10px


/*
   Colors
   ========================================================================== */

$gray                       : #8faecf;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 20%);
$lighter-gray               : mix(#fff, $gray, 60%);

$body-color                 : #e6e6e6;
$background-color           : #1C1C1D;
$code-background-color      : #1c2533;
$code-background-color-dark : $light-gray;
$text-color                 : #d0d7e2;
$border-color               : #2e3a4d;

$primary-color              : #4e8bd6;
$success-color              : #4fae6f;
$warning-color              : #d38b32;
$danger-color               : #d96a66;
$info-color                 : #5bb5d6;

/* brands */
$behance-color              : #2a5cf7;
$dribbble-color             : #d04579;
$facebook-color             : #2c4a87;
$flickr-color               : #cc006a;
$foursquare-color           : #005a8f;
$github-color               : #f0f0f0;
$google-plus-color          : #c64530;
$instagram-color            : #4a6c8f;
$lastfm-color               : #b20d05;
$linkedin-color             : #006699;
$pinterest-color            : #a61b1b;
$rss-color                  : #d8852d;
$soundcloud-color           : #cc2a00;
$stackoverflow-color        : #d56a12;
$tumblr-color               : #2a425c;
$twitter-color              : #4a97d5;
$vimeo-color                : #159fc9;
$vine-color                 : #00a67f;
$youtube-color              : #a30000;
$xing-color                 : #005056;


/* links */
$link-color                 : $info-color;
$link-color-hover           : mix(#fff, $link-color, 25%);
$link-color-visited         : mix(#000, $link-color, 25%);
$masthead-link-color        : $primary-color;
$masthead-link-color-hover  : mix(#fff, $primary-color, 25%);


/*
   Breakpoints
   ========================================================================== */

@include breakpoint-set("to ems", true);
/*
$small                      : 400px;
$medium                     : 500px;
$medium-wide                : 550px;
$large                      : 1200px;
$x-large                    : 1800px;
*/

$small                      : 600px !default;
$medium                     : 768px !default;
$medium-wide                : 900px !default;
$large                      : 925px !default;
$x-large                    : 1280px !default;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow : 0px;
$right-sidebar-width        : 0px;
$right-sidebar-width-wide   : 0px;

$susy: (
  columns: 12,
  column-width: 120px,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: after,
  container: $large,
  global-box-sizing: border-box,
  // debug: (
  //   image: show,
  //   color: blue,
  //   output: overlay,
  //   toggle: top right,
  // ),
);


/*
   Other
   ========================================================================== */

$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$navicon-width              : 28px;
$navicon-height             : 4px;
$global-transition          : all 0.2s ease-in-out;
